<!DOCTYPE HTML>
<html lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Lendroid</title>

<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<script src="https://use.typekit.net/sig6unb.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<link rel="shortcut icon" href="/assets/images/v3/favicon.png" />
<link href="/assets/css/v3/normalize.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/v3/icons.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/v3/style.css" rel="stylesheet" type="text/css" />

</head>



<body>
	
	
	
	
<div id="loader">
</div>
	
	
	
	
	
<!--! GLOBAL: MENU -->

<div id="globalMenu"><div>
	<div class="menufill"></div>
	<div class="menubg">
		<div class="menu-contents">
			<img src="/assets/images/v3/logo-icon@2x.png" width="100" class="logo">
			
			<div class="nav-btns">
				<nav><ul>
					<li class="line"></li>
					<li><a href="#community">The Lendroid Community</a></li>
					<li class="line"></li>
					<li><a href="#loaning">The Loaning Process</a></li>
					<li class="line"></li>
					<li><a href="#token">The Lendroid Support token</a></li>
					<li class="line"></li>
					<li><a href="#risk">What Are Risk Pools</a></li>
					<li class="line"></li>
					<li><a href="#example">Based on the examples Provided</a></li>
					<li class="line"></li>
					<li><a href="#shared">A Shared Liquidity Pool</a></li>
					<li class="line"></li>
					<li><a href="#markets">Example Markets</a></li>
					<li class="line"></li>
					<li><a href="#roadmap">Road Map</a></li>
					<li class="line"></li>
					<li><a href="#team">The Team</a></li>
					<li class="line"></li>
					<li><a href="mailto:connect@lendroid.com" class="ext">Contact Us</a></li>
					<li class="line filler"></li>
				</ul></nav>
			</div>
			
			<div class="menu-btns">
				<nav><ul>	
					<li class="social"><a href="https://twitter.com/lendroidproject" target="_blank"><span class="icon-twitter"></span></a></li>
					<li class="social"><a href="http://slack.lendroid.com/" target="_blank"><span class="icon-slack"></span></a></li>
					<li><a href="https://blog.lendroid.com/" target="_blank">Blog</a></li>
					<li><a href="https://lendroid.com/assets/whitepaper.pdf" target="_blank">White Paper</a></li>
				</ul></nav>
			</div>
	</div>
		
	</div>
	
	<div class="menuLines"><div>
		<div class="menuLine top"></div><div class="menuLine mid"></div><div class="menuLine bottom"></div>
	</div></div>
	
	</div>
</div>

<!-- END MENU -->






<!--! GLOBAL: STICKY BAR -->

<div id="stickyLogo">
	<img src="/assets/images/v3/lendroid-logo@2x.png" alt="Lendroid" class="logo">
</div>

<div class="sticky">
	<!--<div class="blocker"></div>-->
		
		<!-- BEGIN MAILING LIST -->
		
		<div class="mailing-list-btn">
			<span class="icon icon-arrow"></span>
			<p>JOIN OUR MAILING LIST!</p>
		</div>
				
		<form class="signup-form" name="mailing-list" action="//lendroid.us15.list-manage.com/subscribe/post-json?u=be18303ae178fe4d4a49fa791&id=ea7e4faa19" method="get">
			<fieldset>
				<input type="email" name="EMAIL" data-type="req" placeholder="Please Enter Your Email">
				<input type="submit" value="Subscribe" class="cta-btn">			
				<div class="thanks">
					<p>Thank you!</p>
				</div>			
			</fieldset>
		</form>
		
		<!-- END MAILING LIST -->
		
		<div class="toplinks">
			<nav><ul>
				<li><a href="https://blog.lendroid.com/" target="_blank">Blog</a></li>
				<li><a href="https://lendroid.com/assets/whitepaper.pdf" target="_blank">White Paper</a></li>
				<!--<li><a href="mailto:connect@lendroid.com">Contact</a></li>-->
				<li class="social"><a href="https://twitter.com/lendroidproject" target="_blank"><span class="icon-twitter"></span></a></li>
				<li class="social"><a href="http://slack.lendroid.com/" target="_blank"><span class="icon-slack"></span></a></li>
			</ul></nav>
		</div>
		
	</div>
</div>

<div class="sticky-mobile"><div></div></div>

<!-- END STICKY BAR -->





<!--! SECTION: 0 HERO -->

<section id="hero" class="hasAnim">
	
	<div class="toplinks">
		<nav><ul>
			<li><a href="https://blog.lendroid.com/" target="_blank">Blog</a></li>
			<li><a href="https://lendroid.com/assets/whitepaper.pdf" target="_blank">White Paper</a></li>
			<!--<li><a href="mailto:connect@lendroid.com">Contact</a></li>-->
			<li class="social"><a href="https://twitter.com/lendroidproject" target="_blank"><span class="icon-twitter"></span></a></li>
			<li class="social"><a href="http://slack.lendroid.com/" target="_blank"><span class="icon-slack"></span></a></li>
		</ul></nav>
	</div>

	<div class="contents">
		
		<div class="intro">
			<h2>a network of self-regulating<br> & evolving loan markets for<br> digital assets.</h2>
			<a href="https://lendroidproject.github.io/demo/" target="_blank" class="cta-btn">TRY OUR ENS DEMO</a>
		</div>
		
		<!-- BEGIN MAILING LIST -->
		
		<div class="mailing-list-btn">
			<span class="icon icon-arrow"></span>
			<p>JOIN OUR MAILING LIST!</p>
		</div>
		
		<div class="mailing-list-drop"></div>
		
		<form class="signup-form" name="mailing-list" action="//lendroid.us15.list-manage.com/subscribe/post-json?u=be18303ae178fe4d4a49fa791&id=ea7e4faa19" method="get">
			<fieldset>
				<input type="email" name="EMAIL" data-type="req" placeholder="Please Enter Your Email">
				<input type="submit" value="Subscribe" class="cta-btn">
			
			
			<div class="thanks">
				<p>Thank you!</p>
			</div>
			
			</fieldset>
		</form>
		
		<!-- END MAILING LIST -->	

	</div>	
	
	<!-- BEGIN BACKGROUND -->

	<div class="baseshadow"></div>
	
	<div class="background">
		<div class="star-set">
			<div class="star icon-star" data-num="1"></div>
			<div class="star icon-star" data-num="2"></div>
			<div class="star icon-star" data-num="3"></div>
			<div class="star icon-star" data-num="4"></div>
			<div class="star icon-star" data-num="5"></div>
			<div class="star icon-star" data-num="6"></div>
		</div>
		<div class="clouds">
		</div>	
		<div class="base">					
			<div class="hero-bg part"><img src="/assets/images/v3/hero-base@2x.png"></div>
			<div class="lst-bubble part"><img src="/assets/images/v3/parts/lst-bubble2@2x.png"></div>
			<div class="crane-left part"><img src="/assets/images/v3/parts/hero-crane-left@2x.png"></div>
			<div class="crane-right part">
				<img src="/assets/images/v3/parts/hero-crane-base@2x.png">
				<div class="robothead part"><img src="/assets/images/v3/parts/hero-crane-robothead@2x.png"></div>
			</div>
		</div>
	</div>

	<!-- END BACKGROUND -->
		
</section>

<!-- END CONTENTS -->





<!--! SECTION: 1 COMMUNITY -->

<section id="community" class="hasAnim" data-mobile-offset="-50">
	<div class="contentContainer">
		
		<img src="/assets/images/v3/curvetext-welcome@2x.png" class="curvetxt">
		<h2>THE LENDROID COMMUNITY</h2>
		
		<div class="row spaced">
			<div class="col left hasScale" data-width="290">
				<img src="/assets/images/v3/spacer-robot.png" class="spacer filler sizer">
				<div class="robot-wrap lender willScale">
					<div class="ears part">
						<div class="ear left"><div class="mover"><div class="ear-ball"></div><div class="ear-line"></div></div></div>
						<div class="ear right"><div class="mover"><div class="ear-ball"></div><div class="ear-line"></div></div></div>
					</div>
					<img src="/assets/images/v3/parts/community-lender-base@2x.png" class="base">
					<div class="eyes part"><div class="eye left"><img src="/assets/images/v3/parts/lender-eye@2x.png"></div><div class="eye right"><img src="/assets/images/v3/parts/lender-eye@2x.png"></div></div>
					<div class="robo-controls part">
						<div class="linebox part"><div class="box"></div><div class="line"></div></div>
						<div class="button"></div>
						<div class="button two"></div>
						<div class="dial part">
							<div class="line"></div><div class="mover"></div>
						</div>
					</div>
					<div class="stomach-icon part"><img src="/assets/images/v3/parts/lender-icon@2x.png"></div>
				</div>
				<div class="txt">
					<h4>The<br> Lender</h4>
					<p>A person who is sitting on a “stable” liquid digital asset (ETH, DGX) on which he is looking to earn a risk free profit.</p>
				</div>
			</div>
			<div class="col mid hasScale" data-width="290">
				<img src="/assets/images/v3/spacer-robot.png" class="spacer filler sizer">
				<div class="robot-wrap borrower willScale">
					<div class="ears part">
						<div class="ear left"><div class="mover"><div class="ear-ball"></div><div class="ear-line"></div></div></div>
						<div class="ear right"><div class="mover"><div class="ear-ball"></div><div class="ear-line"></div></div></div>
					</div>
					<img src="/assets/images/v3/parts/community-borrower-base@2x.png" class="base">
					<div class="eyes part"><div class="eye left"><img src="/assets/images/v3/parts/borrower-eye@2x.png"></div></div>
					<div class="robo-controls part">
						<div class="linebox part"><div class="box"></div><div class="line"></div></div>
						<div class="button"></div>
						<div class="button two"></div>
						<div class="dial part">
							<div class="line"></div><div class="mover"></div>
						</div>
					</div>
					<div class="stomach-icon part"><img src="/assets/images/v3/parts/borrower-icon@2x.png"></div>
				</div>
				<div class="txt">
					<h4>The<br> Borrower</h4>
					<p>A person who is sitting on a digital asset which he is not willing to sell, but is looking for some short term liquidity.</p>
				</div>
			</div>
			<div class="col right hasScale" data-width="290">
				<img src="/assets/images/v3/spacer-robot.png" class="spacer filler sizer">
				<div class="robot-wrap lst willScale">
					<div class="ears part">
						<div class="ear left"><div class="mover"><div class="ear-ball"></div><div class="ear-line"></div></div></div>
						<div class="ear right"><div class="mover"><div class="ear-ball"></div><div class="ear-line"></div></div></div>
					</div>
					<img src="/assets/images/v3/parts/lst-base@2x.png" class="base">
					<div class="eyes part">
						<div class="eye left"><img src="/assets/images/v3/parts/lst-eye@2x.png"><div class="lid-mask"><div class="lid"></div></div></div>
						<div class="eye right"><img src="/assets/images/v3/parts/lst-eye@2x.png"><div class="lid-mask"><div class="lid"></div></div></div>
					</div>
					<div class="robo-controls part">
						<div class="linebox part"><div class="box"></div><div class="line"></div></div>
						<div class="button"></div>
						<div class="button two"></div>
						<div class="dial part">
							<div class="line"></div><div class="mover"></div>
						</div>
					</div>
					<div class="head-coin part">
						<div class="coin"><img src="/assets/images/v3/parts/smallcoin1.png"></div>
					</div>
					<div class="coin-box"></div>
				</div>
				<div class="txt">
					<h4>The Lendroid Support<br> Token holder (LST)</h4>
					<p>Token holders can choose to create, moderate, and underwrite loan markets.</p>
				</div>
			</div>
		</div>
		
	</div>
</section>

<!-- END COMMUNITY -->





<!--! SECTION: 2 EXPLORE -->

<section id="explore" class="hasAnim" data-offset="220" data-mobile-offset="145">
	
	<div class="bgblock">
		<div class="container">
			<div class="block" data-num="1"></div>
		</div>
	</div>
	
	<div class="segue-text" data-next="explore">
		<div class="txt-wrap">
			<div class="txt"><p>explore lendroid</p></div>
			<span class="arr icon-arrow-long"></span>
		</div>
	</div>
	
	<div class="explore-box">
		<div class="explore-city hasScale" data-width="500">
			<img src="/assets/images/v3/parts/explore-city@2x.png" class="spacer sizer">
			<div class="willScale">
				<div class="star-set">
					<div class="star icon-star" data-num="1"></div>
					<div class="star icon-star" data-num="2"></div>
					<div class="star icon-star" data-num="3"></div>
					<div class="star icon-star" data-num="4"></div>
					<div class="star icon-star" data-num="5"></div>
				</div>
				<div class="lst-bubble part"><img src="/assets/images/v3/parts/lst-bubble1@2x.png"></div>
			</div>
		</div>
		<div class="explore-text">
			<p>A marketplace that enables borrowers to avail instant low-cost digital asset loans and lenders to earn interest on digital assets they lend, all on-chain!</p>
		</div>
	</div>
</section>

<!-- END EXPLORE -->





<!--! SECTION: 3 LOANING -->

<section id="loaning" class="hasAnim" data-mobile-offset="150">
	<div class="contentContainer">
	
		<span class="title-the">the</span>
		<h2>Loaning Process</h2>
		
		<div class="loan-boxes spaced">
			
			<div class="loan-box" data-num="1">
				<div class="loan-image part hasScale" data-width="360">
					<img src="/assets/images/v3/spacer-loaning.png" class="filler sizer">
					<div class="willScale">
						<div class="cloud part" data-num="1"><img src="/assets/images/v3/parts/cloud@2x.png"></div>
						<div class="cloud part" data-num="3"><img src="/assets/images/v3/parts/cloud@2x.png"></div>
						<div class="base"><img src="/assets/images/v3/parts/loaning-box1@2x.png"></div>
						<div class="cloud part" data-num="2"><img src="/assets/images/v3/parts/cloud@2x.png"></div>
						<div class="token-insert part">
							<div class="token"><img src="/assets/images/v3/parts/token@2x.png"></div>
						</div>
					</div>
				</div>
				<div class="box-num"><p>1</p></div>
				<div class="box-txt"><p>LST holders lock tokens in the risk pool</p></div>
			</div>
			
			<div class="loan-box" data-num="2">
				<div class="loan-image part hasScale" data-width="360">
					<img src="/assets/images/v3/spacer-loaning.png" class="filler sizer">
					<div class="willScale">
						<div class="cloud part" data-num="1"><img src="/assets/images/v3/parts/cloud@2x.png"></div>
						<div class="cloud part" data-num="3"><img src="/assets/images/v3/parts/cloud@2x.png"></div>
						<div class="base"><img src="/assets/images/v3/parts/loaning-box2@2x.png"></div>
						<div class="cloud part" data-num="2"><img src="/assets/images/v3/parts/cloud@2x.png"></div>
					</div>
				</div>
				<div class="box-num"><p>2</p></div>
				<div class="box-txt"><p>Lenders trust and follow</p></div>
			</div>
			
			<div class="loan-box" data-num="3">
				<div class="loan-image part hasScale" data-width="360">
					<img src="/assets/images/v3/spacer-loaning.png" class="filler sizer">
					<div class="willScale">
						<div class="base-left"><img src="/assets/images/v3/parts/loaning-box3a@2x.png"></div>
						<div class="base-right"><img src="/assets/images/v3/parts/loaning-box3b@2x.png"></div>
						<div class="cloud part" data-num="1"><img src="/assets/images/v3/parts/cloud@2x.png"></div>
						<div class="cloud part" data-num="2"><img src="/assets/images/v3/parts/cloud@2x.png"></div>
						<div class="cloud part" data-num="3"><img src="/assets/images/v3/parts/cloud@2x.png"></div>
					</div>
				</div>
				<div class="box-num"><p>3</p></div>
				<div class="box-txt"><p>A borrower approaches the risk pool</p></div>
			</div>
			
			<div class="loan-box" data-num="4">
				<div class="loan-image part hasScale" data-width="360">
					<img src="/assets/images/v3/spacer-loaning.png" class="filler sizer">
					<div class="willScale">
						<div class="cloud part" data-num="1"><img src="/assets/images/v3/parts/cloud@2x.png"></div>
						<div class="base"><img src="/assets/images/v3/parts/loaning-box4@2x.png"></div>
						<div class="cloud part" data-num="2"><img src="/assets/images/v3/parts/cloud@2x.png"></div>
						<div class="token-insert part">
							<div class="token"><img src="/assets/images/v3/parts/token-purple@2x.png"></div>
						</div>
					</div>
				</div>
				<div class="box-num"><p>4</p></div>
				<div class="box-txt"><p>Borrower deposits primary collateral</p></div>
			</div>
			
			<div class="loan-box long" data-num="5">
				<div class="loan-image part">
					<div class="falling-icons" data-num="1">
						<div class="icon-ball light" data-num="0"><img src="/assets/images/v3/parts/lender-icon@2x.png"></div>
						<div class="icon-ball dark" data-num="1"><img src="/assets/images/v3/parts/lender-icon@2x.png"></div>
						<div class="icon-ball light" data-num="2"><img src="/assets/images/v3/parts/lender-icon@2x.png"></div>
						<div class="icon-ball dark" data-num="3"><img src="/assets/images/v3/parts/lender-icon@2x.png"></div>
					</div>
					<div class="falling-icons" data-num="2">
						<div class="icon-ball dark" data-num="0"><img src="/assets/images/v3/parts/lender-icon@2x.png"></div>
						<div class="icon-ball light" data-num="1"><img src="/assets/images/v3/parts/lender-icon@2x.png"></div>
						<div class="icon-ball dark" data-num="2"><img src="/assets/images/v3/parts/lender-icon@2x.png"></div>
						<div class="icon-ball light" data-num="3"><img src="/assets/images/v3/parts/lender-icon@2x.png"></div>
					</div>
					<div class="base"><img src="/assets/images/v3/parts/loaning-box5@2x.png"></div>
				</div>
				<div class="box-num"><p>5</p></div>
				<h2>The borrower<br> acquires ETH!</h2>
			</div>
			
		</div>
	
	</div>
</section>

<!-- END LOANING -->





<!--! SECTION: 4 TOKEN -->

<section id="token" class="hasAnim" data-animoffset="-100">
	<div class="wrap">

	<div class="bgwhite"></div>
		
	<div class="background">
		<div class="tokens"></div>
		<div class="base part">
	
			<div class="robots part">
				<div class="robot-wrap lst" data-num="1">
					<div class="ears part">
						<div class="ear left"><div class="mover"><div class="ear-ball"></div><div class="ear-line"></div></div></div>
						<div class="ear right"><div class="mover"><div class="ear-ball"></div><div class="ear-line"></div></div></div>
					</div>
					<img src="/assets/images/v3/parts/support-robot-base@2x.png" class="base">
					<div class="eyes part">
						<div class="eye left"><img src="/assets/images/v3/parts/lst-eye2@2x.png"><div class="lid-mask"><div class="lid"></div></div></div>
						<div class="eye right"><img src="/assets/images/v3/parts/lst-eye2@2x.png"><div class="lid-mask"><div class="lid"></div></div></div>
					</div>
					<div class="robo-controls part">
						<div class="linebox part"><div class="box"></div><div class="line"></div></div>
						<div class="button"></div>
						<div class="button"></div>
						<div class="dial part">
							<div class="line"></div><div class="mover"></div>
						</div>
					</div>
					<div class="head-coin part">
						<div class="coin"><img src="/assets/images/v3/parts/smallcoin1.png"></div>
					</div>
					<div class="coin-box"></div>
					<div class="smile part"><img src="/assets/images/v3/parts/robot-smile.png"></div>
				</div>
				<div class="big-coin part"><img src="/assets/images/v3/parts/token-big@2x.png"></div>
				<div class="robot-wrap lst" data-num="2">
					<div class="ears part">
						<div class="ear left"><div class="mover"><div class="ear-ball"></div><div class="ear-line"></div></div></div>
						<div class="ear right"><div class="mover"><div class="ear-ball"></div><div class="ear-line"></div></div></div>
					</div>
					<img src="/assets/images/v3/parts/support-robot-base@2x.png" class="base">
					<div class="eyes part">
						<div class="eye left"><img src="/assets/images/v3/parts/lst-eye2@2x.png"><div class="lid-mask"><div class="lid"></div></div></div>
						<div class="eye right"><img src="/assets/images/v3/parts/lst-eye2@2x.png"><div class="lid-mask"><div class="lid"></div></div></div>
					</div>
					<div class="robo-controls part"><div>
						<div class="linebox part"><div class="box"></div><div class="line"></div></div>
						<div class="button"></div>
						<div class="button"></div>
						<div class="dial part">
							<div class="line"></div><div class="mover"></div>
						</div>
					</div></div>
					<div class="head-coin part">
						<div class="coin"><img src="/assets/images/v3/parts/smallcoin1.png"></div>
					</div>
					<div class="coin-box"></div>
					<div class="smile part"><img src="/assets/images/v3/parts/robot-smile.png"></div>
				</div>
				
				<div class="star-set special">
					<div class="star" data-num="0"><img src="/assets/images/v3/parts/star-gradient@2x.png"></div>
					<div class="star" data-num="1"><img src="/assets/images/v3/parts/star-gradient@2x.png"></div>
					<div class="star" data-num="2"><img src="/assets/images/v3/parts/star-gradient@2x.png"></div>
					<div class="star" data-num="3"><img src="/assets/images/v3/parts/heart-gradient@2x.png"></div>
					<div class="star" data-num="4"><img src="/assets/images/v3/parts/star-gradient@2x.png"></div>
					<div class="star" data-num="5"><img src="/assets/images/v3/parts/heart-gradient@2x.png"></div>
					<div class="star" data-num="6"><img src="/assets/images/v3/parts/star-gradient@2x.png"></div>
					<div class="star" data-num="7"><img src="/assets/images/v3/parts/heart-gradient@2x.png"></div>
					<div class="star" data-num="8"><img src="/assets/images/v3/parts/heart-gradient@2x.png"></div>
					<div class="star" data-num="9"><img src="/assets/images/v3/parts/star-gradient@2x.png"></div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="contentContainer">
		
		<div class="block" data-num="1"></div>
		<div class="block" data-num="2"></div>
		<div class="block" data-num="3"></div>
	
		<span class="title-the">the</span>
		<h2>Lendroid Support Token</h2>
		<p>These tokens are locked in risk pools by guarantors as a way of guiding lenders to those loans they believe will be ideal for both the lenders and the borrowers.</p>
		
		<div class="goals floatbox">
			<div class="icon-notch"><img src="/assets/images/v3/logo-icon@2x.png"></div>
			<header><p>The LSTs held by guarantors<br> help to achieve 3 important goals:</p></header>
			<div class="row spaced">
				<div class="col left">
					<div class="bignum">1</div>
					<div class="goal-img">
						<img src="/assets/images/v3/token-goal1@2x.png">
					</div>
					<p>Bring in a large volume of lenders</p>
				</div>
				<div class="col mid">
					<div class="bignum">2</div>
					<div class="goal-img">
						<img src="/assets/images/v3/token-goal2@2x.png">
					</div>
					<p>Discover optimum interest rate</p>
				</div>
				<div class="col right">
					<div class="bignum">3</div>
					<div class="goal-img">
						<img src="/assets/images/v3/token-goal3@2x.png">
					</div>
					<p>Prevent a loan<br> from failing</p>
				</div>
			</div>
		</div>
		
	</div>
	</div>
</section>

<!-- END TOKEN -->





<!--! SECTION: 5 RISK POOLS -->

<section id="risk" class="hasAnim" data-animoffset="300">
	<div class="contentContainer">
	
		<span class="title-the">what are</span>
		<h2>Risk Pools?</h2>
		<p>Risk pools form the core of the Lendroid network and consist of numerous markets designed by the Lendroid Support Token holders.</p>
		
		<div class="row spaced risk-data">
			<div class="col left">
				<div class="risk-graph hasScale" data-width="380" data-num="1">
					<img src="/assets/images/v3/riskpool1@2x.png" class="filler sizer">
					
					<div class="willScale">
						<div class="risk-graph-bar"></div>
	
						<div class="cloud part" data-num="1"><img src="/assets/images/v3/parts/cloud@2x.png"></div>
						<div class="cloud part" data-num="2"><img src="/assets/images/v3/parts/cloud@2x.png"></div>
						
						<div class="star-set">
							<div class="star icon-star" data-num="1"></div>
							<div class="star icon-star" data-num="2"></div>
							<div class="star icon-star" data-num="3"></div>
							<div class="star icon-star" data-num="4"></div>
							<div class="star icon-star" data-num="5"></div>
						</div>
	
						<div class="risk-graph-image part"><img src="/assets/images/v3/riskpool1-base@2x.png"></div>
						<div class="lst-bubble part"><img src="/assets/images/v3/parts/lst-bubble3@2x.png"></div>
					</div>
					
					<div class="risk-graph-swipe mob">
						<div class="graph-swipe">
							<div class="g1"><img src="/assets/images/v3/riskpool1@2x.png"></div>
							<div class="arr icon-arrow-long"></div>
							<div class="g2"><img src="/assets/images/v3/riskpool2@2x.png"></div>
						</div>
					</div>
				</div>
				<div class="risk-table-wrap">
					<div class="risk-table" data-num="1">
						<header>
							<div class="linefill"></div>
							<div class="bgwhite"><img src="/assets/images/v3/curvetext-risk1@2x.png" class="curvetxt"></div>
						</header>
						<div class="row">
							<div class="col left"><p>Golem Network Token</p></div>
							<div class="col right"><p class="fade">Total Loanable Amount</p><h4>10,100 ETH</h4></div>
						</div>
						<div class="row">
							<div class="col left"><p class="fade">Best Interest Rate</p><h4>0.01% per day</h4></div>
							<div class="col right"><p class="fade">Outstanding Loan Amount</p><h4><span class="counter"></span> ETH</h4></div>
						</div>
						<div class="row">
							<div class="col left"><p class="fade">Risk Pool Avg. Interest Rate</p><h4>0.0127% per day</h4></div>
							<div class="col right"><p class="fade">Collateral Level</p><h4>140%</h4></div>
						</div>
						<div class="row full">
							<div class="col left">
								<img src="/assets/images/v3/parts/token@2x.png" class="token">
								<div class="txt"><p class="fade">Secondary Collateral</p><h4>6,000 LST</h4></div>
							</div>
							<div class="col right">
								<div class="meter-bar"><div class="meter"></div></div>
							</div>
						</div>
					</div>
					<div class="risk-table mob" data-num="2">
						<header>
							<div class="linefill"></div>
							<div class="bgwhite"><img src="/assets/images/v3/curvetext-risk2@2x.png" class="curvetxt"></div>
						</header>
						<div class="row">
							<div class="col left"><p>Golem Network Token</p></div>
							<div class="col right"><p class="fade">Total Loanable Amount</p><h4>11,000 ETH</h4></div>
						</div>
						<div class="row">
							<div class="col left"><p class="fade">Best Interest Rate</p><h4>0.05% per day</h4></div>
							<div class="col right"><p class="fade">Outstanding Loan Amount</p><h4>1,800 ETH</h4></div>
						</div>
						<div class="row">
							<div class="col left"><p class="fade">Risk Pool Avg. Interest Rate</p><h4>0.0256% per day</h4></div>
							<div class="col right"><p class="fade">Collateral Level</p><h4>110%</h4></div>
						</div>
						<div class="row full">
							<div class="col left">
								<img src="/assets/images/v3/parts/token@2x.png" class="token">
								<div class="txt"><p class="fade">Secondary Collateral</p><h4>2,000 LST</h4></div>
							</div>
							<div class="col right">
								<div class="meter-bar"><div class="meter"></div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col right">
				<div class="risk-graph hasScale" data-width="380" data-num="2">
					<img src="/assets/images/v3/riskpool2@2x.png" class="filler sizer">
					
					<div class="willScale">
						<div class="risk-graph-bar"></div>
	
						<div class="cloud part" data-num="1"><img src="/assets/images/v3/parts/cloud@2x.png"></div>
						<div class="cloud part" data-num="2"><img src="/assets/images/v3/parts/cloud@2x.png"></div>
	
						<div class="risk-graph-image part"><img src="/assets/images/v3/riskpool2-base@2x.png"></div>
					</div>				
				</div>
				<div class="risk-table" data-num="2">
					<header>
						<div class="linefill"></div>
						<div class="bgwhite"><img src="/assets/images/v3/curvetext-risk2@2x.png" class="curvetxt"></div>
					</header>
					<div class="row">
						<div class="col left"><p>Golem Network Token</p></div>
						<div class="col right"><p class="fade">Total Loanable Amount</p><h4>11,000 ETH</h4></div>
					</div>
					<div class="row">
						<div class="col left"><p class="fade">Best Interest Rate</p><h4>0.05% per day</h4></div>
						<div class="col right"><p class="fade">Outstanding Loan Amount</p><h4><span class="counter">0</span> ETH</h4></div>
					</div>
					<div class="row">
						<div class="col left"><p class="fade">Risk Pool Avg. Interest Rate</p><h4>0.0256% per day</h4></div>
						<div class="col right"><p class="fade">Collateral Level</p><h4>110%</h4></div>
					</div>
					<div class="row full">
						<div class="col left">
							<img src="/assets/images/v3/parts/token@2x.png" class="token">
							<div class="txt"><p class="fade">Secondary Collateral</p><h4>2,000 LST</h4></div>
						</div>
						<div class="col right">
							<div class="meter-bar"><div class="meter"></div></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="terms floatbox">
			<div class="icon-notch"><img src="/assets/images/v3/logo-icon@2x.png"></div>
			<header><p>Each of these risk pools define the following terms:</p></header>
			<div class="row spaced">
				<div class="col left">
					<ul>
						<li>The type of Collateral</li>
						<li>The average interest rate of the risk pool</li>
					</ul>
				</div>
				<div class="col right">
					<ul>
						<li>The collateral level</li>
						<li>The secondary collateral level</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</section>

<!-- END RISK POOLS -->





<!--! SECTION: 6 EXAMPLE -->

<section id="example" class="hasAnim">
	
	<div class="block" data-num="3"></div>
	<div class="wrap">
		
	<div class="contentContainer">
		
		<div class="block" data-num="1"></div>
		<div class="block" data-num="2"></div>

		<span class="title-the">BASED ON THE</span>
		<h2>example provided,<br> it is possible to state that ...</h2>
		
		<div class="example-boxes spaced">
			
			<div class="example-box" data-num="1">
				<div class="example-image">
					<img src="/assets/images/v3/example1@2x.png" class="spacer">
				</div>
				<div class="box-txt"><p>The LST holders (aka guarantors) study the current market fluctuations, and invest in those risk pools which they believe will thrive.</p></div>
			</div>
			<div class="example-box" data-num="2">
				<div class="example-image">
					<img src="/assets/images/v3/example2@2x.png" class="spacer">
				</div>
				<div class="box-txt"><p>The risk pools the borrowers are exposed to depend on the type and level of collateral they wish to pledge.</p></div>
			</div>
			<div class="example-box" data-num="3">
				<div class="example-image">
					<img src="/assets/images/v3/example3@2x.png" class="spacer">
				</div>
				<div class="box-txt"><p>Multiple risk pools are then created. The borrower chooses the risk pool that has the highest number of LSTs and lowest interest rate.</p></div>
			</div>
			<div class="example-box" data-num="4">
				<div class="example-image">
					<img src="/assets/images/v3/example4@2x.png" class="spacer">
				</div>
				<div class="box-txt"><p>In the above example, the borrower opts for risk pool 1. The deciding factor being the interest rate, when compared to the total loanable amount and the collateral level displayed.</p></div>
			</div>
			
		</div>
		
	</div>
	
	<div class="segue-text" data-next="shared">
		<div class="txt-wrap">
			<div class="txt"><p>continue</p></div>
			<span class="arr icon-arrow-long"></span>
		</div>
	</div>
	
	</div>
</section>

<!--! END EXAMPLE -->





<!--! SECTION: 7 SHARED POOL -->

<section id="shared" class="hasAnim" data-offset="0" data-mobile-offset="0">
	
	<div class="bgblock" data-num="1">
		<div class="container">
			<div class="block" data-num="1"></div>
		</div>
	</div>
	<div class="bgblock" data-num="2">
		<div class="container">
			<div class="block" data-num="1"></div>
		</div>
	</div>
	<div class="bgblock" data-num="3">
		<div class="wrap">
			<div class="block" data-num="1"></div>
		</div>
	</div>
	
	<div class="contentContainer">
	
		<span class="title-the">lendroid creates</span>
		<h2>A shared liquidity<br> pool for crypto</h2>
		
		<div class="shared-boxes">
			
			<div class="row single">
				<div class="shared-box" data-num="1">
					<div class="shared-image">	
						<div class="robot-wrap lender">
							<div class="ears part">
								<div class="ear left"><div class="mover"><div class="ear-ball"></div><div class="ear-line"></div></div></div>
								<div class="ear right"><div class="mover"><div class="ear-ball"></div><div class="ear-line"></div></div></div>
							</div>
							<img src="/assets/images/v3/shared1-base@2x.png" class="base">
							<div class="eyes part"><div class="eye left"><img src="/assets/images/v3/parts/lender-eye@2x.png"></div><div class="eye right"><img src="/assets/images/v3/parts/lender-eye@2x.png"></div></div>
							<div class="robo-controls part">
								<div class="linebox part"><div class="box"></div><div class="line"></div></div>
								<div class="button"></div>
								<div class="button"></div>
								<div class="dial part">
									<div class="line"></div><div class="mover"></div>
								</div>
							</div>
							<div class="stomach-door part">
								<div class="mover"><img src="/assets/images/v3/parts/lender-door@2x.png"></div>
							</div>
						</div>
					</div>
					<div class="box-num"><p>1</p></div>
					<div class="box-txt"><div><p>When Lendroid is newly established, like any other new market, the liquidity is bound to be low. Therefore not enough lenders are motivated to participate and lend.</p></div></div>
				</div>
			</div>
			
			<div class="row spaced">
				<div class="shared-box" data-num="2">
					<div class="shared-image">						
						<div class="lender-side part"><img src="/assets/images/v3/parts/shared2-lender@2x.png"></div>
						
						<div class="robot-wrap lst">
							<div class="ears part">
								<div class="ear left"><div class="mover"><div class="ear-ball"></div><div class="ear-line"></div></div></div>
								<div class="ear right"><div class="mover"><div class="ear-ball"></div><div class="ear-line"></div></div></div>
							</div>
							<img src="/assets/images/v3/shared2-base@2x.png" class="base">
							<div class="eyes part">
							<div class="eye left"><img src="/assets/images/v3/parts/lst-eye@2x.png"><div class="lid-mask"><div class="lid"></div></div></div>
								<div class="eye right"><img src="/assets/images/v3/parts/lst-eye@2x.png"><div class="lid-mask"><div class="lid"></div></div></div>
							</div>
							<div class="robo-controls part">
								<div class="linebox part"><div class="box"></div><div class="line"></div></div>
								<div class="button"></div>
								<div class="button"></div>
								<div class="dial part">
									<div class="line"></div><div class="mover"></div>
								</div>
							</div>
							<div class="coin-box"></div>
							<div class="lst-bubble part"><img src="/assets/images/v3/parts/lst-bubble3@2x.png"></div>
							<div class="star-set">
								<div class="star icon-star" data-num="1"></div>
								<div class="star icon-star" data-num="2"></div>
								<div class="star icon-star" data-num="3"></div>
							</div>
						</div>

					</div>
					<div class="box-num"><p>2</p></div>
					<div class="box-txt"><div><p>The Lendroid Support Token holders will then make an effort to spread the word across other communities to attract lenders.</p></div></div>
				</div>
				
				<div class="shared-box" data-num="3">
					<div class="shared-image">						
						<div class="robot-wrap lender">
							<div class="ears part">
								<div class="ear left"><div class="mover"><div class="ear-ball"></div><div class="ear-line"></div></div></div>
								<div class="ear right"><div class="mover"><div class="ear-ball"></div><div class="ear-line"></div></div></div>
							</div>
							<img src="/assets/images/v3/shared3-base@2x.png" class="base">
							<div class="eyes part"><div class="eye left"><img src="/assets/images/v3/parts/lender-eye@2x.png"></div><div class="eye right"><img src="/assets/images/v3/parts/lender-eye@2x.png"></div></div>
							<div class="star-set special">
								<div class="star" data-num="1"><div class="icon-heart"></div></div>
								<div class="star" data-num="2"><div class="icon-star"></div></div>
								<div class="star" data-num="3"><div class="icon-star"></div></div>
								<div class="star" data-num="4"><div class="icon-heart"></div></div>
								<div class="star" data-num="5"><div class="icon-heart"></div></div>
								<div class="star" data-num="6"><div class="icon-star"></div></div>
							</div>
						</div>
						
						<div class="borrower-side part"><img src="/assets/images/v3/parts/shared3-robots@2x.png"></div>
						
					</div>
					<div class="box-num"><p>3</p></div>
					<div class="box-txt"><div><p>As lenders begin to entrust in Lendroid, the number of borrowers also increase. With an increase in lenders, their options also widen.</p></div></div>
				</div>
			</div>
			
			<div class="row single">
				<div class="shared-box" data-num="4">
					<div class="shared-image">
						
						<div class="willScale">
							<div class="base-layer part"><img src="/assets/images/v3/shared4-base-lines@2x.png"></div>
							
							<div class="moneystack" data-num="1" data-total="9"></div>
							<div class="moneystack" data-num="2" data-total="12"></div>
							
							
							<div class="base-layer part"><img src="/assets/images/v3/shared4-base-buildings@2x.png"></div>
							
							
							<div class="moneystack" data-num="3" data-total="9"></div>
							<div class="moneystack" data-num="4" data-total="15"></div>
							
							<div class="moneystack" data-num="5" data-total="15"></div>
							
							<div class="btop part"><img src="/assets/images/v3/parts/shared4-buildingtop@2x.png"></div>
							
							<div class="star-set">
								<div class="star icon-star" data-num="1"></div>
								<div class="star icon-star" data-num="2"></div>
								<div class="star icon-star" data-num="3"></div>
							</div>
							<div class="lst-bubble part"><img src="/assets/images/v3/parts/lst-bubble1@2x.png"></div>
						</div>
					</div>
					<div class="box-num"><p>4</p></div>
					<div class="box-txt"><div><p>In addition to borrowers benefiting from lower interest rates, the entire Lendroid community reaps the benefit of higher loan quantities as a result of increased number of participants.</p></div></div>
				</div>
			</div>
			
		</div>
	
	</div>
	
	<div class="segue-text" data-next="markets">
		<div class="txt-wrap">
			<div class="txt"><p>continue</p></div>
			<span class="arr icon-arrow-long"></span>
		</div>
	</div>
</section>

<!-- END SHARED POOL -->





<div class="bluegrad-wrap"> <!-- BEGIN BLUE GRADIENT -->

<div class="clouds">
	<div class="cloud" data-num="1"><img src="/assets/images/v3/cloud@2x.png"></div>
	<div class="cloud" data-num="2"><img src="/assets/images/v3/cloud@2x.png"></div>
	<div class="cloud" data-num="3"><img src="/assets/images/v3/cloud@2x.png"></div>
	<div class="cloud" data-num="4"><img src="/assets/images/v3/cloud@2x.png"></div>
	<div class="cloud" data-num="5"><img src="/assets/images/v3/cloud@2x.png"></div>
	<div class="cloud" data-num="6"><img src="/assets/images/v3/cloud@2x.png"></div>
	
	<div class="star icon-star" data-num="1"></div>
	<div class="star icon-star" data-num="2"></div>
	<div class="star icon-star" data-num="3"></div>
	<div class="star icon-star" data-num="4"></div>
	<div class="star icon-star" data-num="5"></div>
	<div class="star icon-star" data-num="6"></div>
	<div class="star icon-star" data-num="7"></div>
	<div class="star icon-star" data-num="8"></div>
	
	<div class="star icon-star" data-num="9"></div>
	<div class="star icon-star" data-num="10"></div>
	<div class="star icon-star" data-num="11"></div>
	<div class="star icon-star" data-num="12"></div>
	<div class="star icon-star" data-num="13"></div>
	<div class="star icon-star" data-num="14"></div>
</div>


<!--! SECTION: 8 MARKETS -->

<section id="markets" class="hasAnim" data-offset="300"  data-mobile-offset="50">
	
	<div class="bgblock" data-num="1">
		<div class="container">
			<div class="block" data-num="1"></div>
		</div>
	</div>
	<div class="bgblock" data-num="2">
		<div class="container">
			<div class="block" data-num="1"></div>
		</div>
	</div>
	<div class="bgblock" data-num="3"></div>
	
	<div class="background">	
		<div class="lender part"><img src="/assets/images/v3/parts/markets-lender@2x.png"></div>	
		<img src="/assets/images/v3/markets-base2@2x.png" class="base">
		
		<div class="cloud" data-num="1"><img src="/assets/images/v3/parts/hero-cloud@2x.png"></div>
		<div class="cloud" data-num="2"><img src="/assets/images/v3/parts/hero-cloud@2x.png"></div>
		<div class="cloud" data-num="3"><img src="/assets/images/v3/parts/hero-cloud@2x.png"></div>
		
		<img src="/assets/images/v3/markets-base1@2x.png" class="base">
		
		<div class="star-set">
			<div class="star icon-star" data-num="1"></div>
			<div class="star icon-star" data-num="2"></div>
			<div class="star icon-star" data-num="3"></div>
		</div>
		
		<div class="lst-bubble part"><img src="/assets/images/v3/parts/lst-bubble2@2x.png"></div>
		
	</div>
	
	<div class="contentContainer">
	
	<div class="txt">
		<img src="/assets/images/v3/ens-logo@2x.png" class="ens-logo">
		<h2>Example markets</h2>
		<p>We have decided to work with ENS as our first digital asset. Domain names issued by ENS make for great collaterals, because there exists a deposit behind each of these unique domain names, and this deposit makes the name at least as valuable as the deposit. Therefore, borrowers can pledge their domain names and borrow loans against them. ENS, aside from ERC20 tokens, has helped shape Lendroid for us and is therefore of great importance.</p>
		<a href="https://lendroidproject.github.io/demo/" target="_blank" class="cta-btn">TRY OUR ENS DEMO</a>
	</div>
	
	</div>
</section>

<!-- END MARKETS -->





<!--! SECTION: 9 TIMELINE (roadmap) -->

<section id="roadmap" class="hasAnim">
	
	<div class="bgblock" data-num="1">
		<div class="container">
			<div class="block" data-num="1"></div>
			<div class="block" data-num="2"></div>
		</div>
	</div>
	<div class="bgblock" data-num="2">
		<div class="container">
			<div class="block" data-num="1"></div>
			<div class="block" data-num="2"></div>
		</div>
	</div>
	<div class="bgblock" data-num="3"></div>
	<div class="bgblock" data-num="4"></div>
	
	<span class="title-the">the</span>
	<h2>Lendroid Roadmap</h2>
	
	<div class="timeline">
		<div class="tl-line"></div>
		<div class="tl-robot">
			<div class="tl-robot-head part"><div><img src="/assets/images/v3/parts/timeline-robothead@2x.png"></div></div>
			<div class="tl-robot-arm left part"><div class="mover"><img src="/assets/images/v3/parts/timeline-robotarm@2x.png"></div><div class="cover"></div></div>
			<div class="tl-robot-arm right part"><div class="mover"><img src="/assets/images/v3/parts/timeline-robotarm@2x.png"></div><div class="cover"></div></div>
		</div>
		
		<div class="tl-boxes">
			
			<div class="tl-box" data-color="green" data-num="0">
				<header>
					<h3>March</h3>
					<div class="box-num"><p>2017</p></div>
				</header>
				<div class="box-txt">
					<p>The first version of the Lendroid whitepaper was launched.</p>
				</div>
			</div>
			<div class="tl-box" data-color="purple" data-num="1">
				<header>
					<h3>August</h3>
					<div class="box-num"><p>2017</p></div>
				</header>
				<div class="box-txt">
					<p>Demo on testnet</p>
				</div>
			</div>
			<div class="tl-box" data-color="yellow" data-num="2">
				<header>
					<h3>October</h3>
					<div class="box-num"><p>2017</p></div>
				</header>
				<div class="box-txt">
					<p>Token sale</p>
				</div>
			</div>
			<div class="tl-box" data-color="blue" data-num="3">
				<header>
					<h3>January</h3>
					<div class="box-num"><p>2018</p></div>
				</header>
				<div class="box-txt">
					<p>Mainnet launch for ENS domains</p>
				</div>
			</div>
			<div class="tl-box" data-color="green" data-num="4">
				<header>
					<h3>April</h3>
					<div class="box-num"><p>2018</p></div>
				</header>
				<div class="box-txt">
					<p>Loan markets for ERC20 tokens</p>
				</div>
			</div>
			<div class="tl-box" data-color="purple" data-num="5">
				<header>
					<h3>August</h3>
					<div class="box-num"><p>2018</p></div>
				</header>
				<div class="box-txt">
					<p>Loan markets for non-ethereum tokens</p>
				</div>
			</div>
			<div class="tl-box" data-color="yellow" data-num="6">
				<header>
					<h3>November</h3>
					<div class="box-num"><p>2018</p></div>
				</header>
				<div class="box-txt">
					<p>Integration with prediction market to automate optimum collateral level discovery.</p>
				</div>
			</div>
			
		</div>
		
		<div class="tl-controls">
			<div class="arr icon-arrow-long left off" data-dir="-1"></div>
			<div class="arr icon-arrow-long right" data-dir="1"></div>
		</div>
		
	</div>
			
</section>




</div> <!-- CLOSE BLUE GRADIENT -->


<!--! SECTION: x11 TEAM -->

<section id="team">
	
	<div class="bgblock" data-num="1">
		<div class="wrap">
			<div class="block" data-num="1"></div>
		</div>
	</div>
	<div class="bgblock" data-num="2">
		<div class="container">
			<div class="block" data-num="1"></div>
		</div>
	</div>
	
	<div class="contentContainer">
		
		<img src="/assets/images/v3/logo-icon@2x.png" class="logo-icon">
		<span class="title-the">the lendroid</span>
		<h2>Team</h2>

		<div class="team-boxes">
			<div class="team-box">
				<img src="/assets/images/v3/team-vignesh.jpg" class="spacer">
				<div class="txt">
					<h4>Vignesh Sundaresan</h4>
					<ul class="team-btns">
						<li class="full">Lead and Architect</li>
						<li class="social"><a href="https://twitter.com/vigsun" target="_blank"><span class="icon-twitter"></span></a></li>
						<li class="social"><a href="https://www.linkedin.com/in/vigsun" target="_blank"><span class="icon-linkedin"></span></a></li>
						<li class="social"><a href="https://www.reddit.com/user/vigsun" target="_blank"><span class="icon-reddit-alien"></span></a></li>
					</ul>
				</div>
			</div>
			<div class="team-box">
				<img src="/assets/images/v3/team-vii.jpg" class="spacer">
				<div class="txt">
					<h4>Vii Sundaram</h4>
					<ul class="team-btns">
						<li class="full">Smart Contract Engineer</li>
						<li class="social"><a href="https://twitter.com/viisundaram" target="_blank"><span class="icon-twitter"></span></a></li>
						<li class="social"><a href="https://www.linkedin.com/in/vigneshmsundaram" target="_blank"><span class="icon-linkedin"></span></a></li>
						<li class="social"><a href="https://www.reddit.com/user/allkalsus" target="_blank"><span class="icon-reddit-alien"></span></a></li>
					</ul>
				</div>
			</div>
			<div class="team-box">
				<img src="/assets/images/v3/team-ned.jpg" class="spacer">
				<div class="txt">
					<h4>Ned Nadima</h4>
					<ul class="team-btns">
						<li class="full">Communications</li>
						<li class="social"><a href="https://www.twitter.com/NedNadima" target="_blank"><span class="icon-twitter"></span></a></li>
						<li class="social"><a href="https://www.linkedin.com/in/nednadima" target="_blank"><span class="icon-linkedin"></span></a></li>
					</ul>
				</div>
			</div>
			<div class="team-box">
				<img src="/assets/images/v3/team-supriya.jpg" class="spacer">
				<div class="txt">
					<h4>Supriya Vasu</h4>
					<ul class="team-btns">
						<li class="full">Communications</li>
						<li class="social"><a href="https://twitter.com/soupvas" target="_blank"><span class="icon-twitter"></span></a></li>
						<li class="social"><a href="https://www.reddit.com/user/supriyavasu/" target="_blank"><span class="icon-reddit-alien"></span></a></li>
					</ul>
				</div>
			</div>
			<div class="team-box filler"></div>
			<div class="team-box filler"></div>
		</div>
	
	</div>	
</section>





<!--! GLOBAL: FOOTER -->

<footer id="globalFooter" class="global hasAnim">
	
	<div class="bgblock" data-num="1">
		<div class="container">
			<div class="block" data-num="1"></div>
		</div>
	</div>
	<div class="bgblock" data-num="2">
		<div class="container">
			<div class="block" data-num="1"></div>
		</div>
	</div>
	<div class="bgblock" data-num="3"></div>
	
	<div class="background">		
		<div class="robot-wrap lender">
			<div class="ears part">
				<div class="ear left"><div class="mover"><div class="ear-ball"></div><div class="ear-line"></div></div></div>
				<div class="ear right"><div class="mover"><div class="ear-ball"></div><div class="ear-line"></div></div></div>
			</div>
			<img src="/assets/images/v3/parts/community-lender-base@2x.png" class="base">
			<div class="eyes part"><div class="eye left"><img src="/assets/images/v3/parts/lender-eye@2x.png"></div><div class="eye right"><img src="/assets/images/v3/parts/lender-eye@2x.png"></div></div>
			<div class="robo-controls part">
				<div class="linebox part"><div class="box"></div><div class="line"></div></div>
				<div class="button"></div>
				<div class="button"></div>
				<div class="dial part">
					<div class="line"></div><div class="mover"></div>
				</div>
			</div>
			<div class="stomach-icon part"><img src="/assets/images/v3/parts/lender-icon@2x.png"></div>
		</div>
		
		<div class="robot-wrap borrower">
			<div class="ears part">
				<div class="ear left"><div class="mover"><div class="ear-ball"></div><div class="ear-line"></div></div></div>
				<div class="ear right"><div class="mover"><div class="ear-ball"></div><div class="ear-line"></div></div></div>
			</div>
			<img src="/assets/images/v3/parts/community-borrower-base@2x.png" class="base">
			<div class="eyes part"><div class="eye left"><img src="/assets/images/v3/parts/borrower-eye@2x.png"></div></div>
			<div class="robo-controls part">
				<div class="linebox part"><div class="box"></div><div class="line"></div></div>
				<div class="button"></div>
				<div class="button"></div>
				<div class="dial part">
					<div class="line"></div><div class="mover"></div>
				</div>
			</div>
			<div class="stomach-icon part"><img src="/assets/images/v3/parts/borrower-icon@2x.png"></div>
		</div>
		
		<div class="robot-wrap lst">
			<div class="ears part">
				<div class="ear left"><div class="mover"><div class="ear-ball"></div><div class="ear-line"></div></div></div>
				<div class="ear right"><div class="mover"><div class="ear-ball"></div><div class="ear-line"></div></div></div>
			</div>
			<img src="/assets/images/v3/parts/lst-base@2x.png" class="base">
			<div class="eyes part">
				<div class="eye left"><img src="/assets/images/v3/parts/lst-eye@2x.png"><div class="lid-mask"><div class="lid"></div></div></div>
				<div class="eye right"><img src="/assets/images/v3/parts/lst-eye@2x.png"><div class="lid-mask"><div class="lid"></div></div></div>
			</div>
			<div class="robo-controls part">
				<div class="linebox part"><div class="box"></div><div class="line"></div></div>
				<div class="button"></div>
				<div class="button"></div>
				<div class="dial part">
					<div class="line"></div><div class="mover"></div>
				</div>
			</div>
			<div class="head-coin part">
				<div class="coin"><img src="/assets/images/v3/parts/smallcoin1.png"></div>
			</div>
			<div class="coin-box"></div>
		</div>
		
		<div class="lst-bubble part"><img src="/assets/images/v3/parts/lst-bubble4@2x.png"></div>
	</div>
	
	<div class="contentContainer">
		
		<div class="clouds">
			<div class="cloud" data-num="1"><img src="/assets/images/v3/cloud@2x.png"></div>
			<div class="cloud" data-num="2"><img src="/assets/images/v3/cloud@2x.png"></div>
		</div>
		
		<div class="footer-sign"><div><img src="/assets/images/v3/footer-chatsign@2x.png"></div></div>
		
		<span class="title-the">say hello &</span>
		<h2>Support Lendroid</h2>
		
		<div class="join floatbox">
			<div class="icon-notch"><img src="/assets/images/v3/logo-icon@2x.png"></div>
			<header><div><p>Come and join our growing community, share your feedback or get involved as a contributor. We look forward to chatting!</p></div></header>
			
			<!-- BEGIN MAILING LIST -->
			
			<h4>JOIN OUR MAILING LIST!</h4>
					
			<form class="signup-form" name="mailing-list" action="//lendroid.us15.list-manage.com/subscribe/post-json?u=be18303ae178fe4d4a49fa791&id=ea7e4faa19" method="get">
				<fieldset>
					<input type="email" name="EMAIL" data-type="req" placeholder="Please Enter Your Email">
					<input type="submit" value="Subscribe" class="cta-btn">
				
				
				<div class="thanks">
					<p>Thank you!</p>
				</div>
				
				</fieldset>
			</form>
			
			<!-- END MAILING LIST -->
			
			<div class="menu-btns">
				<nav><ul>
					<li class="social"><a href="https://twitter.com/lendroidproject" target="_blank"><span class="icon-twitter"></span></a></li>
					<li class="social"><a href="http://slack.lendroid.com/" target="_blank"><span class="icon-slack"></span></a></li>
					<li><a href="https://blog.lendroid.com/" target="_blank">Blog</a></li>
					<li class="cta"><a href="https://lendroidproject.github.io/demo/" target="_blank" class="cta-btn">TRY OUR ENS DEMO</a></li>
				</ul></nav>
			</div>
			
			</div>
		
		<div class="legal spaced">
			<a href="https://lendroidproject.github.io/demo/" target="_blank" class="cta-btn mob">TRY OUR ENS DEMO</a>
			<div><p>© 2017 Lendroid <span class="vline-div">|</span> <a href="mailto:connect@lendroid.com">connect@lendroid.com</a></p></div>
			<div><p>Design: <a href="http://www.griflan.com" target="_blank">Griflan</a></p></div>
		</div>
		
	</div>
</footer>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/utils/Draggable.min.js"></script>
<script src="/assets/js/v3/lendroid.js"></script>

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-96034674-1', 'auto');
	ga('send', 'pageview');

</script>

</body>
</html>