
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lendroid</title>
    <link rel="icon" href="/assets/logos/favicon.ico" type="image/png" sizes="16x16">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/logos/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/logos/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/logos/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/logos/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/logos/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/logos/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/logos/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/logos/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/logos/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/logos/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/logos/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/logos/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/logos/favicon-16x16.png">
<link rel="manifest" href="/assets/logos/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/logos/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Lendroid - Digital asset lending network">
    <meta name="keywords" content="lendroid, ethereum">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/animate.css"> <!-- Resource style -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.css">
    <link rel="stylesheet" href="/assets/css/ionicons.min.css"> <!-- Resource style -->
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
    <div class="wrapper">
        <div class="container">
          <nav class="navbar navbar-default navbar-fixed-top ">
          <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand nav-white page-scroll" href="#main"><div id="top-logo">.</div> </a>
              </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav nav-white">
                  <li><a class="page-scroll" href="#main">Home</a></li>
                  <li><a class="page-scroll" href="#features">Demo</a></li>
                  <li><a class="page-scroll" href="#review-section">Whitepaper</a></li>
                  <li><a class="page-scroll" href="#pricing">Team</a></li>
                  <li><a class="page-scroll" href="#contact">Contact</a></li>
                </ul>
            </div>
          </div>
        </nav><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->

      <div class="main signup" id="main"><!-- Main Section-->


        <div class="hero-section">
          <div class="container">
            <div class="row">
              <div class="col-md-7">
                <div class="hero-content">


    <img src="/assets/logos/lendroid-logo-text-white-100.png" height='100px' alt="Lendroid" />
    <!--
<video  autoplay  height='300px' muted >
  <source src="/assets/video/logo_animation1.mp4" type="video/mp4" >
  Your browser does not support the video tag.
</video>
-->

<br/>
<br/>
<br/>

                  <h1>Decentralized digital asset lending platform </h1>
                  <p>


The Lendroid platform can be used by a borrower to raise funds for a defined period of time, while locking up a digital asset they control as collateral. The loans are funded by lenders who are willing to lend their digital asset for an interest. Additionally each loan is supported by Lendroid support token (LST) holders who act as guarantors and lock up their LSTs as secondary collateral. Lendroid platform is extensible by design and allows the creation of loan markets on any ERC20 token.
                  </p>
                  <a class="btn btn-primary btn-action btn-round popup wow fadeInUp" data-wow-delay="0.2s" href="#">Download whitepaper</a>
                </div>
              </div>
              <div class="col-md-5">
                <div class="signup-form wow fadeInUp">
                  <h1>Join our mailing list!</h1>



                  <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{ clear:left; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//lendroid.us15.list-manage.com/subscribe/post?u=be18303ae178fe4d4a49fa791&amp;id=ea7e4faa19" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate registration-form" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">


<div class="mc-field-group form-group">
  <label class="sr-only" for="form-name">First name</label>
	<input type="text" value="" name="EMAIL"  placeholder="Enter Your Email address * ..."  class=" form-email form-control" id="mce-EMAIL">
</div>

<!--
<div class="mc-field-group form-group">
    <label class="sr-only" for="form-name">First name</label>
	<input type="text" value="" name="FNAME" placeholder="Enter Your First Name..."  class="form-name form-control" id="mce-FNAME ">
</div>
<div class="mc-field-group form-group">
  <label class="sr-only" for="form-name">First name</label>
	<input type="text" value="" name="LNAME"  placeholder="Enter Your Last Name..." class="form-name form-control" id="mce-LNAME ">
</div>
-->

	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_be18303ae178fe4d4a49fa791_ea7e4faa19" tabindex="-1" value=""></div>
    <div class="clear">

      <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn">Subscribe</button>

    </div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

<br/>
<br/>
<br/>

<div class='row social-media-buttons'>
<div class='col-md-12  text-center'>

  <a href='https://twitter.com/lendroidnetwork' target="_blank"><div class='social-media-icon social-media-twitter'></div></a>
  <a href='https://github.com/lendroidnetwork' target="_blank"><div class='social-media-icon social-media-github'></div></a>
  <a href='https://www.youtube.com/channel/UCRPUjdf6DxuUQw789mL25zA' target="_blank"><div class='social-media-icon social-media-youtube'></div></a>

</div>
</div>


                </div>






              </div>
            </div>
          </div>
        </div>






        <div class="app-features text-center">
                <div class="container">
                  <h1 class="wow fadeInDown" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInDown;">Team</h1>

                  <div class="row">
                    <div class="col-md-4 ">

                          <div class="icon">
                            <img class="img" width="200px" src="/assets/images/vigsun2.jpg" alt="Vignesh sundaresan" />
                          </div>
                          <div class="feature-single">
                            <h1>Vignesh Sundaresan</h1>
                            <p>
                              Lead and Chief Architect

                              <div class='row social-media-buttons'>
                                <div class='col-md-4  text-center'>

                                </div>

                                <div class='col-md-6  text-center'>

                                <a href='https://twitter.com/vigsun' target="_blank"><div class='social-media-small social-media-twitter'></div></a>
                                <a href='https://www.linkedin.com/in/vigsun/' target="_blank"><div class='social-media-small social-media-github'></div></a>
                                </div>


                                  </div>

                            </p>



                          </div>
                  </div>

                  <div class="col-md-4 features-left">

                </div>

                <div class="col-md-4 features-left">


              </div>

                </div>
              </div>




        <!-- Footer Section -->
          <div class="footer">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                    <img class="img" src="/assets/logos/lendroid-logo-text-black-30.png" height="30" alt="Image" />
                    <p>


                      A technology startup based somewhere in the world. <br class="hidden-xs"> making the finest bluetooth
                      speakers ever made. <br class="hidden-xs"> You'll know our location if you really love us.


                    </p>

                  <div class="footer-text">
                    <p>
                      Copyright © 2017 Lendroid Inc. All Rights Reserved.
                    </p>
                  </div>
                </div>



                <div class="col-md-4">
                  <div id="contact" class="contact text-center">
                    <i class="ion-ios-chatboxes-outline"></i>
                    <h1>Want to get in touch ?</h1>
                    <p>
                      We are going to setup the slack group very soon. Until then please do mail us at
                    </p>
                    <a href="mailto:contact@lendroid.io">contact@lendroid.io</a>


                    <div class='row social-media-buttons'>
                    <div class='col-md-12  text-center'>

                      <a href='https://twitter.com/lendroidnetwork' target="_blank"><div class='social-media-small social-media-twitter'></div></a>
                      <a href='https://github.com/lendroidnetwork' target="_blank"><div class='social-media-small social-media-github'></div></a>
                      <a href='https://www.youtube.com/channel/UCRPUjdf6DxuUQw789mL25zA' target="_blank"><div class='social-media-small social-media-youtube'></div></a>

                    </div>
                    </div>
                  </div>
                </div>


                <div class="col-md-4 ">

                      <div class="icon">
                        <img class="img" width="120px" src="/assets/images/vigsun2.jpg" alt="Vignesh sundaresan" />
                      </div>
                      <div class="feature-single">
                        <h1>Vignesh Sundaresan</h1>
                        <p>
                          Lead and Chief Architect

                          <div class='row social-media-buttons'>
                            <div class='col-md-4  text-center'>

                            </div>

                            <div class='col-md-6  text-center'>

                            <a href='https://twitter.com/vigsun' target="_blank"><div class='social-media-small social-media-twitter'></div></a>
                            <a href='https://www.linkedin.com/in/vigsun/' target="_blank"><div class='social-media-small social-media-linkedin'></div></a>
                            </div>


                              </div>

                        </p>



                      </div>
              </div>


              </div>
            </div>
          </div>



        <!-- Scroll To Top -->

          <a id="back-top" class="back-to-top page-scroll" href="#main">
          <i class="ion-ios-arrow-thin-up"></i>
          </a>

        <!-- Scroll To Top Ends-->

    </div><!-- Main Section -->
  </div><!-- Wrapper-->

<!-- Jquery and Js Plugins -->
  <script type="text/javascript" src="/assets/js/jquery-2.1.1.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/js/plugins.js"></script>
  <script type="text/javascript" src="/assets/js/menu.js"></script>
  <script type="text/javascript" src="/assets/js/custom.js"></script>

  <!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="/assets/js/addthis_widget.js"></script>


  </body>
</html>
