
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lendroid - Decentralized digital asset lending platform</title>
    <link rel="icon" href="/assets/logos/favicon.ico" type="image/png" sizes="16x16">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/logos/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/logos/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/logos/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/logos/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/logos/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/logos/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/logos/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/logos/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/logos/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/logos/android-icon-192x192.png">
<link rel="manifest" href="/assets/logos/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/logos/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Lendroid - Digital asset lending network">
    <meta name="keywords" content="lendroid, ethereum">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/animate.css"> <!-- Resource style -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.css">
    <link rel="stylesheet" href="/assets/css/ionicons.min.css"> <!-- Resource style -->
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
    <div class="wrapper">
        <div class="container">

      </div><!-- /.container-fluid -->

      <div class="main signup" id="main"><!-- Main Section-->


        <div class="hero-section">
          <div class="container">
            <div class="row">
              <div class="col-md-7">
                <div class="hero-content">


    <img src="/assets/logos/lendroid-logo-text-white.png" height='120px' alt="Lendroid" />
    <!--
<video  autoplay  height='300px' muted >
  <source src="/assets/video/logo_animation1.mp4" type="video/mp4" >
  Your browser does not support the video tag.
</video>
-->

<br/>
<br/>
<br/>

<h1>Decentralized digital asset lending platform </h1>
<p>



  Lendroid marketplace enables borrowers to avail instant low-cost digital asset loans and lenders to earn interest on digital assets they lend, all on-chain. Additionally, Lendroid support token (LST) holders act as guarantors of these loans by locking up their LSTs as secondary collateral.
Lendroid support token(LST) is the native token of the Lendroid protocol.
<br/><br/>

Borrowers borrow an Ethereum ERC20 token (like ETH, USD-DC, etc.) by pledging another Ethereum ERC20 token (like REP, SNGLS, etc.).

<br/><br/>


The whitepaper discusses in detail the protocol that defines the architecture and mechanisms of a on-chain loan marketplace that handles optimum collateral level discovery, interest rate discovery, fund arrangement, collateral health management, and settlement for digital asset loans.


                   </p>
                  <a class="btn btn-primary btn-action btn-round popup wow fadeInUp" data-wow-delay="0.2s" href="/assets/whitepaper.pdf" target="_blank">Download whitepaper</a>


                </div>
              </div>
              <div class="col-md-5">
                <br/>

                <br/>
                <br/>



                <div class="signup-form wow fadeInUp">
                  <h1>Join our mailing list!</h1>




<div id="mc_embed_signup">
<form action="//lendroid.us15.list-manage.com/subscribe/post?u=be18303ae178fe4d4a49fa791&amp;id=ea7e4faa19" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate registration-form" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">


<div class="mc-field-group form-group">
  <label class="sr-only" for="form-name">First name</label>
	<input type="text" value="" name="EMAIL"  placeholder="Enter Your Email address"  class=" form-email form-control" id="mce-EMAIL">
</div>

<!--
<div class="mc-field-group form-group">
    <label class="sr-only" for="form-name">First name</label>
	<input type="text" value="" name="FNAME" placeholder="Enter Your First Name..."  class="form-name form-control" id="mce-FNAME ">
</div>
<div class="mc-field-group form-group">
  <label class="sr-only" for="form-name">First name</label>
	<input type="text" value="" name="LNAME"  placeholder="Enter Your Last Name..." class="form-name form-control" id="mce-LNAME ">
</div>
-->
<p>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>
</p>
   <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_be18303ae178fe4d4a49fa791_ea7e4faa19" tabindex="-1" value=""></div>
    <div class="clear">

      <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn">Subscribe</button>

    </div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

<br/>

<p>If you have any questions/comments or wish to contribute to the project,
please feel free to connect with us.

<br/>
<br/>

Email: <a href='mailto:connect@lendroid.com'>connect@lendroid.com</a>


</p>
<br/>

<div class='row social-media-buttons'>
<div class='col-md-12  text-center'>

  <a href='https://twitter.com/lendroidproject' target="_blank"><div class='social-media-icon social-media-twitter'></div></a>
  <a href='http://slack.lendroid.com' target="_blank"><div class='social-media-icon social-media-slack'></div></a>
  <a href='https://github.com/lendroidproject' target="_blank"><div class='social-media-icon social-media-github'></div></a>
  <a href='https://www.youtube.com/channel/UCRPUjdf6DxuUQw789mL25zA' target="_blank"><div class='social-media-icon social-media-youtube'></div></a>
  <a href='https://blog.lendroid.com/' target="_blank"><div class='social-media-icon social-media-medium'></div></a>

</div>
</div>










                </div>


<br/>







              </div>
            </div>
          </div>
        </div>







        <div class="app-features text-center">
                <div class="container">
                  <h1 class="wow fadeInDown" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInDown;">Team</h1>

                  <div class="row">
                    <div class="col-md-4 ">




                          <div class="icon">
                            <img class="img"  height='150px' src="/assets/images/vigsun2.jpg" alt="Vignesh sundaresan" />
                          </div>
                          <div class="feature-single">
                            <h1>Vignesh Sundaresan</h1>
                            <p>
                              Lead and Architect

                              <div class='row social-media-buttons'>
                                <div class='col-md-4  text-center'>

                                </div>

                                <div class='col-md-6  text-center'>

                                <a href='https://twitter.com/vigsun' target="_blank"><div class='social-media-small social-media-twitter'></div></a>
                                <a href='https://www.linkedin.com/in/vigsun/' target="_blank"><div class='social-media-small social-media-linkedin'></div></a>
                                <a href='https://github.com/vigsun' target="_blank"><div class='social-media-small social-media-github'></div></a>
                                </div>


                                  </div>


                            </p>



                          </div>
                  </div>

                  <div class="col-md-4 ">

                        <div class="icon">
                          <img class="img"  height='150px' src="/assets/images/ned.jpg" alt="Ned Nadima" />
                        </div>
                        <div class="feature-single">
                          <h1>Ned Nadima</h1>
                          <p>
                            Communications

                            <div class='row social-media-buttons'>



                              <div class='col-md-4  text-center'>

                              </div>

                              <div class='col-md-4  text-center'>




                              <a href='https://www.twitter.com/NedNadima' target="_blank"><div class='social-media-small social-media-twitter'></div></a>
                              <a href='https://www.linkedin.com/in/nednadima/' target="_blank"><div class='social-media-small social-media-linkedin'></div></a>
                              </div>




                                </div>



                          </p>



                        </div>
                </div>

                <div class="col-md-4 ">

                      <div class="icon">
                        <img class="img" height='150px' src="/assets/images/vii.jpg" alt="Vii Sundaram" />
                      </div>
                      <div class="feature-single">
                        <h1>Vii Sundaram</h1>
                        <p>
                          Smart contract engineer

                          <div class='row social-media-buttons'>
                            <div class='col-md-4  text-center'>

                            </div>

                            <div class='col-md-6  text-center'>

                            <a href='https://twitter.com/viisundaram' target="_blank"><div class='social-media-small social-media-twitter'></div></a>
                            <a href='https://github.com/vignesh-msundaram' target="_blank"><div class='social-media-small social-media-github'></div></a>
                            <a href='https://www.linkedin.com/in/vigneshmsundaram' target="_blank"><div class='social-media-small social-media-linkedin'></div></a>

                            </div>


                              </div>

                        </p>



                      </div>
              </div>

<!--
              <div class="col-md-3 ">

                    <div class="icon">
                      <img class="img" height='150px' src="/assets/images/vii.jpg" alt="Vii Sundaram" />
                    </div>
                    <div class="feature-single">
                      <h1>Minh Dao</h1>
                      <p>
                        Front end engineer

                        <div class='row social-media-buttons'>
                          <div class='col-md-3  text-center'>

                          </div>

                          <div class='col-md-6  text-center'>

                          <a href='https://twitter.com/heartbreakid88' target="_blank"><div class='social-media-small social-media-twitter'></div></a>
                          <a href='https://github.com/vignesh-msundaram' target="_blank"><div class='social-media-small social-media-github'></div></a>
                          <a href='https://www.linkedin.com/in/vigneshmsundaram' target="_blank"><div class='social-media-small social-media-linkedin'></div></a>

                          </div>


                            </div>

                      </p>



                    </div>
            </div>
          -->


                  <div class="col-md-4 features-left">

                </div>

                <div class="col-md-4 features-left">


              </div>

                </div>
              </div>
            </div>







                <!-- Footer Section -->
                  <div class="footer">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-4">
                            <img class="img" src="/assets/logos/lendroid-logo-text-black-30.png" height="30" alt="Image" />
                            <p>

                              Lendroid is an open source project that aims to build a digital asset lending platform based on the Ethereum blockchain.



                            </p>

                          <div class="footer-text">
                            <p>

                            </p>
                          </div>
                        </div>


                        <div class="col-md-4 ">






                      </div>

                        <div class="col-md-4">
                          <div id="contact" class="contact text-center">
                            <i class="ion-ios-chatboxes-outline"></i>
                            <h1>Want to get in touch ?</h1>

                          <a href="mailto:connect@lendroid.com">connect@lendroid.com</a>


                            <div class='row social-media-buttons'>
                            <div class='col-md-12  text-center'>

                              <a href='https://twitter.com/lendroidproject' target="_blank"><div class='social-media-small social-media-twitter'></div></a>
                              <a href='http://slack.lendroid.com' target="_blank"><div class='social-media-small social-media-slack'></div></a>
                              <a href='https://github.com/lendroidproject' target="_blank"><div class='social-media-small social-media-github'></div></a>
                              <a href='https://www.youtube.com/channel/UCRPUjdf6DxuUQw789mL25zA' target="_blank"><div class='social-media-small social-media-youtube'></div></a>

                            </div>
                            </div>
                          </div>
                        </div>





                      </div>
                    </div>
                  </div>




        <!-- Scroll To Top -->

          <a id="back-top" class="back-to-top page-scroll" href="#main">
          <i class="ion-ios-arrow-thin-up"></i>
          </a>

        <!-- Scroll To Top Ends-->

    </div><!-- Main Section -->
  </div><!-- Wrapper-->

<!-- Jquery and Js Plugins -->
  <script type="text/javascript" src="/assets/js/jquery-2.1.1.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/js/plugins.js"></script>
  <script type="text/javascript" src="/assets/js/menu.js"></script>
  <script type="text/javascript" src="/assets/js/custom.js"></script>

  <!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="/assets/js/addthis_widget.js"></script>


  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-96034674-1', 'auto');
    ga('send', 'pageview');

  </script>

  </body>
</html>
